<h1>These are the names of the kitchens</h1>

<% @kitchens.each do |kitchen| %>

     <li>
      <a href="/kitchens/<%= kitchen.id %>">
        <%= kitchen.name %>
      </a>
    </li>

   

<% end %>