<h1>Kitchen Items</h1>

<ul>
  <% @kitchen.items.each do |item| %>
    
    <li>
      <%= item.name %>
    </li>     
    
  <% end %>

 <li> <%= link_to "Edit", edit_kitchen_path(@kitchen) %> </li>

 <li> <%= link_to "Delete kitchen", kitchens_path(@kitchen.id) %> </li>

</ul>